* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* input:focus {
  outline: none;
} */
/* 
html {
  font-family: "Montserrat", sans-serif;
} */

body {
  background: #fff;
  padding: 0 16px;
  /* background-color: #878c00; */
  /* background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png"); */
}

.highlight {
  background: url('/images/brush-stroke-banner-5.svg');
  background-repeat: no-repeat;
  background-position: -10px 47px;
  background-size: 100% 12%;
  /* offset-position: 0px -10px; */
  /* text-indent: -2em; */
  /* padding: 8px; */
  /* color: #000; */
}
