.App {
  /* text-align: center; */
  background-color: #61dafb;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}