.Typing {
  background-color: #9ede73;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Typing div {
  height: 50%;
  background-color: blue;
  padding: 50px;
  margin: 10px;
}


.TypingB div {
  height: 50%;
  background-color: greenyellow;
  padding: 50px;
  margin: 10px;
}