* {
  padding: 10;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 100;
  font-family: 'Noto Sans JP', sans-serif;
  /* font-family: 'DotGothic16', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}
