


.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(245, 134, 52);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 5px 5px rgba(255, 55, 55, 0.8);
  z-index: 1;
}


.centered {
  height: 100h; /* Magic here */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}