.home {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-center {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.card-grid {
  margin-top: 30px;
  margin-left: 40px;
  width: 60%;
}

.App-link {
  color: #61dafb;
}

/* 파일 분리 */
.typing-center {
  background-color: #f6f6f6;
  min-height: 100vh;
  /* padding-bottom: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.typing-footer {
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding: 10px;
  padding-bottom: 40px;
  background-color: #fff;
  border: 1px solid silver;
}

.typing-footer h4 {
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid gray;
}