

form.words div.letter-box{
  /* background: red; */
  /* width: fit-content; */
  /* vertical-align: middle; */
  /* width: 100px;
  height: 100px; */
  position: relative;
  /* margin: 20px; */
  display: inline-block;
}

form.letters div.letter-box{
  position: relative;
  display: inline-block;
}

form.words div.letter-elem{
  /* background: red; */
  /* width: fit-content; */
  /* vertical-align: middle; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  /* left: 10px; */
  text-align: center;
  /* display: inline-block; */
}

form.letters div.letter-elem{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  text-align: center;
}

form.words h5.sound{
  text-align: center;
  font-weight: normal;
  font-weight: 200;
  font-size: 1.0rem;
}

form.words div.letter{
  /* background:red; */
  width: fit-content;
  margin: 0px 5px;
  padding: 5px 20px;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 5px;
}

form.words .letter.good {
  color: #184d47;
  background-color: #d6efc7;
  transition: background-color 0.8s;
  border: 2px solid #96bb7c;
}

form.words .letter.bad {
  color: #ff4646;
  background-color: #ffdcdc;
  transition: background-color 0.5s;
  border: 2px solid #ff4646;
}


form.words div.sentence {
  color: black;
  background-color:#fff;
  padding: 5px 1px;
  /* border-color: #00af91; */
}

form.words div.sentence.good {
  /* background-color: #00af91; */
  color: #00af91;
}

form.words div.sentence.bad {
  color: red;
}


form.letters div.letter{
  /* background:red; */
  width: fit-content;
  margin: 0px 5px;
  padding: 5px 20px;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 5px;
}

form.letters .letter.good {
  color: #184d47;
  background-color: #d6efc7;
  transition: background-color 0.8s;
  border: 2px solid #96bb7c;
}

form.letters .letter.bad {
  color: #ff4646;
  background-color: #ffdcdc;
  transition: background-color 0.5s;
  border: 2px solid #ff4646;
}

form.letters div.sentence {
  color: black;
  background-color:#fff;
  padding: 5px 1px;
  /* border-color: #00af91; */
}

form.letters div.sentence.good {
  /* background-color: #00af91; */
  color: #00af91;
}

form.letters div.sentence.bad {
  color: red;
}
