
.typing-body {
  /* padding: 10px; */
  /* width: 100%; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* display: inline-block; */
}

.typing-result {
  /* font-weight: normal; */
  padding: 10px;
  /* width: 200px; */
  /* width: 150px; */
  /* width: 100%; */
  /* flex-direction: row; */
  /* justify-content: center; */
  text-align: center;
  /* display: inline-block; */
  /* min-width: 110px; */
  /* max-width: 410px; */
  /* margin-left: 50px; */
  /* margin: 0px auto 20px auto; */
  /* margin: 0 auto; */
  
  /* border-width: 1px solid; */
}

.typing-result div {
  display: inline-block;
  margin: auto 30px;
  height: 100%;
  position: relative;
  /* padding-left: 10px; */
  /* padding-bottom: 5px; */
  font-weight: normal;
  /* text-align: center; */
  /* background-color: red; */
  /* border-width: 1px solid; */
}

.typing-result img {
  width: 25px;
  height: 100%;
  /* position: relative; */
  /* border: 1px solid red; */

  margin: 0;
  position: absolute;
  /* top: 50%; */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  transform: translateX(-100%);
}

.typing-result h2, h4 {
  display: inline-block;
  padding: 5px;
  /* padding-bottom: 5px; */
  /* width: fit-content; */
  font-weight: normal;
}

.typing-result h6 {
  display: inline-block;
  padding-left: 5px;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
  font-weight: normal;
}


form.words {
  text-align: left;
  position: relative;
  /* width: 480px; */
  width: fit-content;
  margin: 100px auto 0px auto;
  /* background: #fff; */
  padding: 10px;
  /* padding-left: 110px; add TypingResult width */
  display: flex;
}

form.letters {
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 100px auto 0px auto;
  padding: 10px;
  display: flex;
}

form.words h1 {
  font-weight: normal;
  font-size: 2.5rem;

  margin-bottom: 6px;
  /* font-family: inherit; */
  /* resize: none; */
  /* text-align:; */
}

form.letters h1 {
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 6px;
}

form.words input {
  border: 0;
  /* border-bottom: 1px solid;
  background-color: #fff; */
  /* border-radius: 3px; */
  /* width: 5rem; */
  font-weight: normal;
  font-size: 2.5rem;
  /* font-weight: 100; */
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;

  width: 120%;
  /* width: max-content; */

  margin: 20px auto 0px auto;
  padding: 0px;
  /* text-align: center; */

  /* background-image: url("../images/typewriter.svg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left; */
}

form.letters input {
  border: 0;
  padding: 20px;
  /* border-bottom: 1px solid;
  background-color: #fff; */
  /* border-radius: 3px; */
  /* width: 5rem; */

  font-weight: normal;
  font-size: 2.5rem;
  /* font-weight: 100; */
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;

  width: 100%;
  /* margin: 20px auto 0px auto; */
  /* width: max-content; */
  /* justify-content: center;　*/
  /* align-items: center; */
  text-align: center;
  
  /* background-image: url("../images/typewriter.svg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center; */
}

form.words input:focus {
  outline: none;
  /* border-bottom: 1px solid;
  border-color: #fff; */
  background-image: none;
}

form.letters input:focus {
  outline: none;
  background-image: none;
}


form.words div.sentence{
  background: #fff;
  width: fit-content;
  margin: 0px 0px;
  display: inline-block;
}


form.words div.tutorial{
  background: #fff;
  width: fit-content;
  margin: 0px 0px;
  display: inline-block;
}

form.words h5.sound{
  /* background:red; */
  /* color: yellow; */
  /* border: 2px solid;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 2px; */
  /* max-width: 50px; */
  /* resize: none; */
  text-align: center;
  /* font-weight: normal; */
  /* font-weight: 200; */
  font-size: 1.0rem;

  /* margin: 0; */
  /* position: absolute; */
  /* transform: translateY(-100%); */
  /* top: 50%; */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateX(-100%); */

}

form.letters h5.sound{
  text-align: center;
  font-size: 1.0rem;
}

form.words div.letter{
  /* background:red; */
  width: fit-content;
  margin: 0px 5px;
  padding: 5px 20px;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 5px;
}

form.words .letter.good {
  color: #184d47;
  background-color: #d6efc7;
  transition: background-color 0.8s;
  border: 2px solid #96bb7c;
}

form.words .letter.bad {
  color: #ff4646;
  background-color: #ffdcdc;
  transition: background-color 0.5s;
  border: 2px solid #ff4646;
}


form.words div.sentence {
  color: black;
  background-color:#fff;
  padding: 5px 1px;
  /* border-color: #00af91; */
}

form.words div.sentence.good {
  /* background-color: #00af91; */
  color: #00af91;
}

form.words div.sentence.bad {
  color: red;
}