
.typing-center {
  background-color: #f6f6f6;
  min-height: 100vh;
  padding-bottom: 30%;
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.typing-footer {
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding: 10px;
  padding-bottom: 40px;
  background-color: #fff;
  border: 1px solid silver;
}

.typing-footer h4 {
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid gray;
}